<ion-header>
  <ion-toolbar>
    <ion-title>{{article.titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="article.image"></ion-img>
  <ion-button expand="block" (click)="updatePhoto()" *ngIf="isMyArticle" >
      Modifier la photo
  </ion-button>
  <ion-item>
    <ion-icon name="logo-euro" slot="start"></ion-icon>
    <ion-label *ngIf="!isMyArticle">{{article.prix}}</ion-label>
    <ion-input *ngIf="isMyArticle" [(ngModel)]="article.prix"></ion-input>
    <ion-button (click)="envoyerMail()" *ngIf="!isMyArticle">
     Contacter le vendeur
    </ion-button>
  </ion-item>

  <h4>Description</h4>
  <div *ngIf="!isMyArticle">
    {{article.description}}
  </div>
  <ion-textarea *ngIf="isMyArticle" [(ngModel)]="article.description">
  </ion-textarea>

  <app-save-and-delete-buttons *ngIf="isMyArticle"
    (saveEvent)="save()" (removeEvent)="remove()" slot="fixed">
    
  </app-save-and-delete-buttons>
      
</ion-content>
